[user]
  name =
  email =
[alias]
  st = status
  ad = add
  ci = commit
  ps = push
  pl = pull
  lg = log --no-merges --date=short --pretty='format:%C(yellow)%h %C(green)%cd %C(blue)%an%C(red)%d %C(reset)%s'
  df = diff
  co = checkout
[push]
  default = current
